<!DOCTYPE html>
<html>
<head>
    <title>Create New User Account</title>
</head>
<body>
    <h1>Create a New User Account</h1>
    <form action="create_account.php" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Create Account">
    </form>
</body>
</html>

